<!DOCTYPE html>
<html>

<head>

<title>Dashboard</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>


<body>


<header>

<h1>
YSCMT Student Dashboard
</h1>

<p>
Welcome {{user.username}}
</p>

</header>



<section class="features">


<div class="cards">


<div class="card">

<h3>
📚 My Courses
</h3>

<p>
View enrolled courses.
</p>

</div>



<div class="card">

<h3>
👤 Profile
</h3>

<p>
Manage your account.
</p>

</div>



<div class="card">

<h3>
🚀 Projects
</h3>

<p>
Build technology projects.
</p>

</div>


</div>


</section>



<a href="/accounts/logout/">
Logout
</a>


</body>

</html>